button.btn {
  width: 100%;
  align-items: flex-start;
  letter-spacing: 2px;
  padding: 15px 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  color: #f0f084;
  background: rgb(0, 0, 0);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s linear;
  display: flex;
  justify-content: flex-start;
}

button.btn:hover, button.active {
  background: rgba(242, 242, 242, 0.2);
  border: 0;
  box-shadow: 0 15px 20px rgba(21, 21, 21, 0.4);
  color: rgba(252, 248, 248, 0.936);
  transform: translateY(-2px);
  transition: all .3s ease-in-out;
}
