button.btn {
  width: 100%;
  padding: 8px 0;
  letter-spacing: 4px;
  color: #1d1c1c;
  background: rgb(255, 255, 255);
  box-shadow: 0 8px 15px rgba(246, 246, 246, 0.1);
  transition: all .3s ease-in-out;
}

button.btn:hover, button.active {
  box-shadow: 0 15px 20px rgba(222, 206, 38, 0.4);
  color: white;
  transform: translateY(-2px);
  transition: all .3s ease-in-out;
}

button.btn:hover {
  background: rgb(211, 199, 84);
}

button.active {
  background: #cdba0e;
}

